In [ ]:
3Q 17. Write an SQL query to find all employees whose salary is greater than the average salary in the employees table.

In [ ]:
select * from employees
where salary>(select Avg(salary) from employees)