In [ ]:
#Q 16. Write an SQL query to find the average salary for each department in a company table, 
#but only for departments with more than 10 employees.

In [ ]:
select Avg(salary) from company
group by (departments)
Having count(employee_id)>10